@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white font-sans text-gray-dark;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.font-header {
  font-family: "Arimo";
}
.font-description {
  font-family: "Overpass";
}

.header {
  @apply font-header font-bold text-3xl
}
